body {
  background-image: url(../logo/nature.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  font-family:  Arial, Helvetica, sans-serif;
}

h1 {
  color: #016eef;
  font-family: Audiowide;
  text-shadow: 4px 4px 14px #1a9bd0;
  width: 100%;
  text-align: center;
  padding: 28px 0px;
  font-size: 3.2rem;
  margin-bottom: 0px;
}

h2 {
  font-weight: bold;
  color: black;
  letter-spacing: 2px;
  padding: 20px 0px;
}

h3 {
  font-weight: bold;
  color: #016eef;
  margin: 20px 0px;
  letter-spacing: 1.5px;
  text-align: center;
  font-family: Audiowide;
  text-shadow: 4px 4px 14px #1a9bd0;
}

h4 {
  text-shadow: 1.5px 1.5px black;
}

h5 {
  padding: 3px 0px;
  font-size: 1rem;
}

p {
  font-weight: bolder;
  letter-spacing: 1px;
  margin-bottom: 0px;
  padding: 15px 0px;
}

td, th {
  border: 0.5px solid skyblue;
}

header {
  background-image: url(../logo/nature.jpg);
  background-position: top;
  border-bottom: 1px solid skyblue;
  position: fixed;
  width: 100%;
  text-align: center;
  display: block;
  table-layout: auto;
  z-index: 999 !important;
}

footer {
  border-top: 1px solid skyblue;
  text-align: center;
  background-image: url(../logo/pad.jpg);
  color: white;
  text-shadow: 1px 1px #016cee;
  padding-top: 16px;
}

footer a {
  color: black;
}

.logo {
  display: flex;
  margin-left: 160px;
  position: relative;
}

#cc_logo {
  width: 14rem;
  }

#treil {
  color: black;
  font-weight: bold;
  font-size: 3.5rem;
  font-family: Audiowide;
  align-self: center;
  padding: 10px 15px;
  letter-spacing: 3px;
  text-shadow: 0.5px 0.5px #b1defd;
}



.links {
  margin-left: 90px;
  width: 50%;
  font-weight: bolder;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  color: #c0e2fd;
  font-weight: bold;
  background-color: #016eef;
  border-color: #1fabf8;
  width: 120px;
  border-radius: 14px;
  box-shadow: 6px 6px 4px #0258eb;
}

.btn:hover {
 background-color: #c3e3fc;
 color: #016eef;
 border-color: #bddefd;
 box-shadow: 0px 0px 20px 16px #bddefd;
}

/* Jumbotron */

.carousel .jumbotron {
  margin-bottom: 0px;
}

.carousel {
  z-index: auto;
  min-width: 320px;
  border: 1px solid #b3dffa;
  background-color: #b3ecff;
}

.jumbotron {
  height: 55rem;
  padding-top: 18rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.background-jpg1 {
  background-image: url("../images/bigimages/jpg1.jpg");
}

.background-jpg2 {
  background-image: url("../images/bigimages/jpg2.jpg");
}

.background-jpg3 {
  background-image: url("../images/bigimages/jpg3.jpg");
}

.background-jpg4 {
  background-image: url("../images/bigimages/jpg4.jpg");
}

.background-jpg5 {
  background-image: url("../images/bigimages/jpg5.jpg");
}

.background-jpg6 {
  background-image: url("../images/bigimages/jpg6.jpg");
}

.jumbotron h1 {
  font-family: Audiowide, sans-serif;
  font-size: 6rem;
  color: white;
  text-shadow: 0px 0px 6px black;
  opacity: 0.9;
}

.jumbotron h4 {
  max-width: 51.3rem;
  margin: auto;
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 4px black;
  opacity: 0.9;
}

.relative-wrapper {
  position: relative;
  top: -16rem;
  width: 100%;
  text-align: center;
}

/*Jumbotron end*/

.container {
  padding-top: 90px;
  background-color: rgba(255,255,255, 0.8);
}

#index {
  padding-top: 0px !important;
  padding-bottom: 16px;
}

.thumbnail img {
  width: 100%;
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pic {
  width: 100%;
  border: 1px solid skyblue;
}

.slick-slider {
  display: grid;
}

.slick-arrow {
  color: #c0e2fd;
  background-color: #016eef;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  margin: 6px 10px;
  text-align: center;
}

.auto {
  width: 100%;
  background-color: white;
  border: 1px solid skyblue;
  margin-bottom: 16px;
}

.table {
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 20px 12px skyblue;
}

.map {
  margin-bottom: 16px;
  border: 1px solid skyblue;
}

#maps {
  border: 1px solid skyblue;
}

.vienosim {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: Audiowide;
  text-align: center;
  color: black;
  text-shadow: 0.5px 0.5px #b1defd;
  letter-spacing: 3px;
}

@media only screen and (max-width: 319px) {
  html {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  h1{
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.85rem;
  }

  .logo {
    display: block;
    margin-left: 0px;
    }

  #cc_logo {
    width: 7rem;
    }

  #treil {
    font-size: 2rem;
    letter-spacing: 0px;
    }

  .links {
    margin-left: 24%;
    padding-bottom: 16px;
    }

  .btn {
    margin-left: 3px;
    width: 100px;
    font-weight: normal;
    font-size: 12px;
    }

  .jumbotron {
    height: 30rem;
    padding-top: 8rem;
  }

  .jumbotron h1 {
    font-size: 3rem;
  }

  .jumbotron h4 {
    font-size: 1rem;
  }

  .row {
    display: none;
  }

  .map {
    display: none;
    }

  #maps {
    height: 400px;
    width: 100%;
    }

  .vienosim {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 620px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 0.9rem;
  }

  .logo {
    display: block;
    margin-left: 0px;
    }

  #cc_logo {
    width: 10rem;
    }

  #treil {
    font-size: 2.5rem;
    }

  .links {
    margin-left: 20%;
    padding-bottom: 18px;
    }

  .btn {
    margin-left: 50px;
    font-weight: normal;
    font-size: 14px;
    width: 100px;
    }

  .jumbotron {
    height: 36rem;
    padding-top: 9rem;
  }

  .jumbotron h1 {
    font-size: 4rem;
  }

  .jumbotron h4 {
    font-size: 1.2rem;
  }

  .row {
    display: none;
  }

  .map {
    display: none;
    }

  #maps {
    height: 400px;
    width: 100%;
    }

  .vienosim {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 620px) and (max-width: 990px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 0.9rem;
  }

  .logo {
    margin-left: 0px;
  }

  #cc_logo {
    width: 8rem;
  }

  #treil {
    font-size: 2rem;
    padding: 0px;
  }

  .links {
    margin-left: 0px;
    width: 100%;
    font-weight: bold;
  }

  .btn {
    width: 100px;
    font-weight: normal;
    font-size: 14px;
    }

  .jumbotron {
    height: 42rem;
    padding-top: 12rem;
  }

  .jumbotron h1 {
    font-size: 4rem;
  }

  .jumbotron h4 {
    font-size: 1.2rem;
  }

  .row {
    display: none;
  }

  #maps {
    display: none;
  }

  .vienosim {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1280px) {
  p {
    font-size: 0.9rem;
  }

  .logo {
    margin-left: 24px;
  }

  #cc_logo {
    width: 12rem;
  }

  #treil {
    font-size: 3rem;
  }

  .links {
    margin-left: 0px;
    width: 100%;
    font-weight: bold;
  }

  .gallery {
    display: none;
  }

  #maps {
    display: none;
  }

  .vienosim {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1920px) {


  .gallery {
    display: none;
  }

  #maps {
    display: none;
  }
}
