/* Backup Section */
@mixin headText {
  color: black;
  font-weight: bold;
  font-size: 32px;
  font-family: Audiowide;
  align-self: center;
  padding: 10px 15px;
  letter-spacing: 3px;
}

@mixin bigText {
  color: #016eef;
  font-family: Audiowide;
  width: 100%;
  text-align: center;
  padding: 28px 0px;
  margin-bottom: 0px;
}

@mixin paragraphTxt {
  font-weight: bolder;
  letter-spacing: 1px;
  margin-bottom: 0px;
  padding: 15px 0px;
  color: #212529e6;
}

@mixin myButton {
  color: #CCE7FC;
  font-weight: bold;
  background-color: #167EFC;
  border-color: #1fabf8 #34B4F9;
  width: 110px;
  border-radius: 14px;

  &:hover {
    background-color: #016eef;
    color: #c0e2fd;
    border-color: #1fabf8;
  }

  &:active {
    background-color: #c3e3fc;
    color: #016eef;
    border-color: #bddefd;
    box-shadow: 0px 0px 20px 16px #bddefd;
  }
}
/* Backup Section End */

/* Work Section */
header {
  background-image: url(../logo/nature.jpg);
  background-position: top;
  border-bottom: 2px solid #0070F0;
  position: fixed;
  width: 100%;
  text-align: center;
  display: block;
  table-layout: auto;
  z-index: 999 !important;
  height: 120px;
  display: grid;
}

body {
  background-image: url(../logo/nature.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: 0.1;
  background-attachment: fixed;
}

footer {
  border-top: 2px solid #0070F0;
  text-align: center;
  background-color: #0188F4;
  text-shadow: 1px 1px #016cee;
  padding: 16px 0px;
}

footer p {
  color: white;
}

h2 {
  @include bigText;
  font-size: 28px;
  padding: 12px 0px;
}

p {
  @include paragraphTxt;
}

footer a {
  color: aquamarine;
}

.favtext {
  @include bigText;
  padding-top: 140px;
  font-size: 36px;
  text-shadow: 4px 4px 14px #1a9bd0;
}

.vieno {
  @include bigText;
  background-color: rgba(255,255,255, 0.7);
  margin-bottom: 20px;
  padding: 16px 0px;
}

.container {
  background-color: rgba(255,255,255, 0.8);
  padding-bottom: 1px;
}

.logo {
  display: flex;
  margin-left: 120px;
  position: relative;
}

#cc_logo {
  width: 120px;
}

.treil {
  @include headText;
  margin-bottom: 6px;
}

.links {
  margin-right: 120px;
  width: 100%;
  font-weight: bolder;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn {
  @include myButton;
  margin-left: 26px;
}
/* Carousel */
.carousel .jumbotron {
  margin-bottom: 0px;
}

.carousel {
  z-index: auto;
  min-width: 320px;
  border: 1px solid #b3dffa;
  background-color: #b3ecff;
}

.jumbotron {
  height: 46rem;
  padding-top: 18rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron h1 {
  font-family: Audiowide, sans-serif;
  font-size: 6rem;
  color: white;
  text-shadow: 0px 0px 14px black;
  opacity: 0.9;
}

.jumbotron h4 {
  max-width: 51.3rem;
  margin: auto;
  color: white;
  text-shadow: 0px 0px 12px black;
  opacity: 0.9;
}

.relative-wrapper {
  position: relative;
  top: -16rem;
  width: 100%;
  text-align: center;
}

.background-jpg1 {
  background-image: url("../images/bigimages/jpg1.jpg");
}

.background-jpg2 {
  background-image: url("../images/bigimages/jpg2.jpg");
}

.background-jpg3 {
  background-image: url("../images/bigimages/jpg3.jpg");
}

.background-jpg4 {
  background-image: url("../images/bigimages/jpg4.jpg");
}

.background-jpg5 {
  background-image: url("../images/bigimages/jpg5.jpg");
}

.background-jpg6 {
  background-image: url("../images/bigimages/jpg6.jpg");
}
/* Carousel End */

/* Gallery */
.thumbnail img {
  width: 100%;
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pic {
  width: 100%;
  border: 1px solid skyblue;
}

.slick-slider {
  display: grid;
}

.slick-arrow {
  color: #c0e2fd;
  background-color: #016eef;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  margin: 6px 10px;
  text-align: center;
}
/* Gallery End */

/* Video */
.auto {
  width: 100%;
  background-color: white;
  border: 1px solid skyblue;
  margin-bottom: 16px;
  box-shadow: 0px 0px 20px 12px #F8F0DE;
}
/* Video End */

/* Table */
.table {
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 20px 12px skyblue;
}
/* Table End */

/* Responsive Section */
@media only screen and (max-width: 319px) {
  html {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  h1{
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.85rem;
  }

  .logo {
    display: block;
    margin-left: 0px;
  }

  #cc_logo {
    width: 7rem;
  }

  .treil {
    font-size: 2rem;
    letter-spacing: 0px;
  }

  .links {
    padding-bottom: 16px;
    justify-content: center;
    margin: 0px;
    padding-top: 12px;
  }

  .btn {
    margin-left: 3px;
    width: 100px;
    font-weight: normal;
    font-size: 12px;
  }

  .jumbotron {
    height: 30rem;
    padding-top: 8rem;
  }

  .jumbotron h1 {
    font-size: 3rem;
  }

  .jumbotron h4 {
    font-size: 1rem;
  }

  .row {
    display: none;
  }

  .map {
    display: none;
  }

  #maps {
    height: 400px;
    width: 100%;
  }

  .vienosim {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 620px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 0.9rem;
  }

  .logo {
    display: block;
    margin-left: 0px;
  }

  #cc_logo {
    width: 10rem;
  }

  .treil {
    font-size: 2.5rem;
  }

  .links {
    padding-bottom: 18px;
    justify-content: center;
  }

  .btn {
    font-weight: normal;
    font-size: 14px;
    width: 100px;
  }

  .jumbotron {
    height: 36rem;
    padding-top: 11rem;
  }

  .jumbotron h1 {
    font-size: 4rem;
  }

  .jumbotron h4 {
    font-size: 1.2rem;
  }

  .row {
    display: none;
  }

  .map {
    display: none;
  }

  #maps {
    height: 400px;
    width: 100%;
  }

  .vienosim {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 620px) and (max-width: 990px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 0.9rem;
  }

  .logo {
    margin-left: 0px;
  }

  #cc_logo {
    width: 8rem;
  }

  .treil {
    font-size: 2rem;
    padding: 0px;
  }

  .links {
    margin-right: 40px;
    width: 100%;
    font-weight: bold;
  }

  .btn {
    width: 100px;
    font-weight: normal;
    font-size: 14px;
    margin-left: 0px;
  }

  .jumbotron {
    height: 40rem;
    padding-top: 12rem;
  }

  .jumbotron h1 {
    font-size: 4rem;
  }

  .jumbotron h4 {
    font-size: 1.2rem;
  }

  .row {
    display: none;
  }

  #maps {
    display: none;
  }

  .vienosim {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1280px) {
  p {
    font-size: 0.9rem;
  }

  .logo {
    margin-left: 24px;
  }

  #cc_logo {
    width: 12rem;
  }

  .treil {
    font-size: 3rem;
  }

  .links {
    margin-left: 0px;
    width: 100%;
    font-weight: bold;
  }

  .gallery {
    display: none;
  }

  #maps {
    display: none;
  }

  .vienosim {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1920px) {
  .gallery {
    display: none;
  }

  #maps {
    display: none;
  }
}
/* Responsive Section End */
/* Work Section End */
